*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.main_div{
  background:rgba(119, 240, 190, 0.562);
  width: 100%;
  padding-top: 10vh;
}
.center_div{
  background: rgb(250, 250, 250);
  width: 50%;
  height: auto;
  margin: auto;
  border-radius: 15px;
  box-shadow: 6px 17px 25px -11px rgba(0,0,0,0.75);
  text-align:center;
}
.center_div h1{
  color: rgb(255, 255, 255);
  background: rgb(7, 236, 148);
  padding: 10px;
}
input{
  border: none;
  border-bottom: 3px solid rgb(7, 236, 148);
  width: 20vw;
  height: 30px;
}
button{
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50px;
  background: rgb(7, 236, 148);
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 20px;
  margin-left: 20px;
  cursor: pointer;
}
li{
  font-size: 23px;
  list-style: none;
  color: rgb(55, 114, 241);
  font-weight: bold;
  text-align: left;
  margin-left: 50px;
  margin-top: 30px;
}